<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<meta name="viewport" content="width=device-width" />
<title>HealthCare Doctor Register Form</title>
<meta name="description"
	content="Inscrivez-vous sur HealthCare en remplissant ce formulaire">
</head>

<body>

	<!--En-tête / Navigation-->
	<header>
		<h2>Formulaire d'inscription</h2>
	</header>

	<section id="form_inscription">

		<div id="formulaire">
			<form class="form_field" action="#" method="post">

				<fieldset>
					<legend class="form_title">Vos informations personnelles</legend>
					<div>
						<div id="sexe">
							<label for="homme">Homme</label> 
								<input type="radio" name="sexe" class="homme" value="homme">
							<label for="femme">Femme</label>
								<input type="radio" name="sexe" class="femme" value="femme">
						</div>

						<label for="nom">Nom :</label> 
							<input type="text" name="nom" class="nom">
							<br>
						<label for="prenom">Prénom :</label> 
							<input type="text" name="prenom" class="prenom">
							<br>
						<label for="age">Age :</label>
							<input type="number" name="age" id="age" min="5" max="115">
							<br>
						<label for="adresse">Adresse personnelle :</label>
							<input type="text" name="adresse" id="mail_doctor">
							<br>
						<label for="cp">Code Postal :</label>
							<input type="number" name="cp" id="cp">
							<br>
						<label for="ville">Ville :</label>
							<input type="text" name="ville" id="ville">
							<br>
						<label for="telephone">N° téléphone :</label> 
							<input type="tel" name="telephone" class="numtel">
							<br>
						<label for="mail">E-mail :</label>
							<input type="email" name="mail" id="mail_patient"> 
							<br>
					</div>
				</fieldset>

				<fieldset>
					<legend class="form_title">Vos informations professionnelles</legend>
					<div>
						<label for="speciality">Spécialité médicale :</label>
							<input type="text" name="speciality" id="speciality">
							<br>
						<label for="xp">Années d'expérience :</label>
							<input type="number" name="xp" id="xp" min="1" max="50">
							<br>
						<label for="adresse">Adresse du cabinet médicale :</label>
							<input type="text" name="adresse" id="adresse_cabinet">
							<br>
						<label for="cp">Code Postal :</label>
							<input type="number" name="cp" id="cp">
							<br>
						<label for="ville">Ville :</label>
							<input type="text" name="ville" id="ville">
							<br>
						<label for="telephone">N° téléphone :</label> 
							<input type="tel" name="telephone" class="numtel">
							<br>
						<label for="mail">E-mail :</label>
							<input type="email" name="mail" id="mail_doctor"> 
							<br>
					</div>
				</fieldset>
				
				
				<div class="form_btn">
					<button type="submit" class="btn_form" style="width: 350px">Enregistrer mes informations</button>
				</div>

			</form>
		</div>
	</section>
	
</body>
</html>